In [2]:
import pandas as pd

In [3]:
df_verdes = pd.read_csv("../data/madrid/zonas_verdes/Zonas Verdes.csv",sep=";")

Quitamos todo el espacio sobrante de cada string

In [6]:
df_verdes = df_verdes.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [7]:
df_verdes.head()

,Distrito,Subepígrafe,Apartado,Número de archivo,Naturaleza del inmueble,Situación Destino,Destino,Solar
0,CENTRO,ZONAS VERDES,PARQUES Y JARDINES,300.000,URBANA,CALLE DE BAILEN NUM 15,DOTACIONAL SERVICIOS COLECTIVOS ZONAS VERDES B...,5025.42 m2
1,CENTRO,ZONAS VERDES,PARQUES Y JARDINES,300.001,URBANA,CALLE DE BAILEN NUM 6,DOTACIONAL SERVICIOS COLECTIVOS ZONAS VERDES S...,26814.00 m2
2,CENTRO,ZONAS VERDES,PARQUES Y JARDINES,300.002,URBANA,"CALLE DEL MESON DE PAREDES, NUM. 37 C/V C/ DE ...",DOTACIONAL SERVICIOS COLECTIVOS ZONAS VERDES B...,2979.20 m2
3,CENTRO,ZONAS VERDES,PARQUES Y JARDINES,300.003,URBANA,CALLE MESON DE PAREDES NUM 68,DOTACIONAL SERVICIOS COLECTIVOS ZONAS VERDES B...,1637.34 m2
4,CENTRO,ZONAS VERDES,PARQUES Y JARDINES,300.004,URBANA,CALLE DE SEGOVIA NUM 12,DOTACIONAL SERVCIOS COLECTIVOS ZONAS VERDES BÁ...,172.90 m2

In [9]:
df_verdes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1489 entries, 0 to 1488
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Distrito                 1489 non-null   object
 1   Subepígrafe              1489 non-null   object
 2   Apartado                 1489 non-null   object
 3   Número de archivo        1489 non-null   float64
 4   Naturaleza del inmueble  1489 non-null   object
 5   Situación Destino        1489 non-null   object
 6   Destino                  1489 non-null   object
 7   Solar                    1489 non-null   object
dtypes: float64(1), object(7)
memory usage: 93.2+ KB

In [11]:
df_verdes.drop("Subepígrafe",axis=1,inplace=True)

KeyError: "['Subepígrafe'] not found in axis"

In [ ]:
df_verdes.drop("Número de archivo",axis=1,inplace=True)

In [12]:
df_verdes.drop("Naturaleza del inmueble",axis=1,inplace=True)

In [13]:
df_verdes["Situación Destino"].unique()

array(['CALLE DE BAILEN NUM 15', 'CALLE DE BAILEN NUM 6',
       'CALLE DEL MESON DE PAREDES, NUM. 37 C/V C/ DE AMPARO NUM 26', ...,
       'CALLE DE ESTANISLAO PÉREZ PITA NUM 59-71',
       'AVENIDA DE JOSÉ ANTONIO CORRALES NUM 94',
       'CALLE DE TRESPADERNE NUM 18'], dtype=object)

In [14]:
df_verdes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1489 entries, 0 to 1488
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Distrito           1489 non-null   object
 1   Apartado           1489 non-null   object
 2   Número de archivo  1489 non-null   float64
 3   Situación Destino  1489 non-null   object
 4   Destino            1489 non-null   object
 5   Solar              1489 non-null   object
dtypes: float64(1), object(5)
memory usage: 69.9+ KB

In [15]:
df_verdes.to_csv('../data/madrid/zonas_verdes/conv_verd.csv', index=False)

In [17]:
df_verdes.to_json('../data/madrid/zonas_verdes/zonas_verdes.json', orient='records',force_ascii=False)